# DB - node & Docker
DB_HOST=localhost
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=1234
DB_ROOT_PASSWORD=1234
DB_NAME=patientsdb
DB_CONNECTION_LIMIT=5

# logger (provide LOG_PATHFILE to also log to file)
# LOG_PATHFILE=./myTmpLog.log
LOG_LEVEL=all

# NODE_ENV
NODE_ENV=dev
# NODE_ENV=production

